<!-- Admin Sidebar -->
<div class="w-16 bg-purple-900 min-h-screen flex flex-col justify-center py-4 space-y-10 pl-4 fixed z-10">
    <a href="/admin">
        <img src="/images/home.png" alt="Home" class="w-7 h-8" />
    </a>
    <a href="/admin/requests">
        <img src="/images/request_list.png" alt="Requests" class="w-7 h-8" />
    </a>

    <a href="/admin/settings">
        <img src="/images/settings.png" alt="Settings" class="w-7 h-8" />
    </a>
    <a href="/logout" class="mt-auto">
        <img src="/images/sign_out.png" alt="Logout" class="w-7 h-8" />
    </a>
</div>