<div class="w-16 bg-purple-900 min-h-screen flex flex-col justify-center py-4 space-y-10 pl-4">
    <a href="/patient">
        <img src="/images/home.png" alt="Home" class="w-7 h-8" />
    </a>
    <a href="/patient/profile">
        <img src="/images/profile.png" alt="Profile" class="w-7 h-8" />
    </a>
    <a href="/patient/doctors">
        <img src="/images/doctor.png" alt="Doctors" class="w-7 h-8" />
    </a>
    <a href="/patient/requests">
        <img src="/images/request_list.png" alt="Prescription" class="w-7 h-8" />
    </a>
    <a href="/patient/settings">
        <img src="/images/Settings.png" alt="Settings" class="w-7 h-8" />
    </a>
    <a href="/logout" class="mt-auto">
        <img src="/images/sign_out.png" alt="Logout" class="w-7 h-8" />
    </a>
</div>